alacritty/
Bitwarden/
BraveSoftware/
Code/
dconf/
droidcam
fish/
gpicview/
htop/
ibus/
Kingsoft/
menus/ mpv/ nvim/ okularrc qBittorrent/
rofi/
Thunar/
Unknown Organization/
Electron/
gtk-2.0/
gtk-3.0/
mimeapps.
Mousepad/
neofetch/
nitrogen/
obs-studio/
pulse/
spotify/
sublime-text/
Thunar/
xarchiver/
vlc/
xfce4/
yay/
zoomus.conf
mimeapps.list
pavucontrol.ini
QtProject.conf
user-dirs.dirs
user-dirs.locale
Atom/
google-chrome/
guvcview2/
menus/
okularrc
qBittorrent/
GeForce NOW/
balena-etcher-electron/
betterlockscreenrc
dleyna-renderer-service.conf
dleyna-server-service.conf
evolution/
nordvpn/
privateinternetaccess/
session/

bleachbit/
kitty/
mesen/
whatsapp-for-linux/
xbuild/

